* { box-sizing: border-box; }

body { 
	font-family: sans-serif;
	background-image: url("http://i717.photobucket.com/albums/ww173/prestonjjrtr/Holidays/Valentines%20Day/ValentineHearts07.gif");
 }

.carousel {
  background: #FAFAFA;
}

.carousel img {
  display: block;
  height: 200px;
}

.caption {
  background: #FAFAFA;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.flickity-page-dots {
  bottom: 0px;
}

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background: white;
}

@media screen and ( min-width: 400px ) {
  .carousel img {
    height: 400px;
  }
}
